{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Drug Recommendation</h1>
            
        </div>
    </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
        <div class="modal-header border-0">
            <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-center">
            <div class="input-group" style="max-width: 600px;">
                <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Full Screen Search End -->
<style>
    .con {
        height: 100px;
        padding-top: 300px;
        background-image: url(../../static/img/pexels-kaboompics-com-5795.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 50px;
    }

    .con form select {
        padding: 10px;
        font-size: 16px;
    }

    .con form input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #06a3da;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .con form input[type="submit"]:hover {
        background-color: #0485ac;
    }
</style>

<div class="container layout_padding fadeInUp" style="padding-bottom: 280px;"  data-wow-delay="0.1s">
    <form action="/predict" method="post">
        <select name="condition">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}