{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Drug Recommendation</h1>
            
        </div>
    </div>
</div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
        <div class="modal-header border-0">
            <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-center">
            <div class="input-group" style="max-width: 600px;">
                <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Full Screen Search End -->
<style>
    .dropholder{
  width: 522px;
  height: 60px;
  margin:100px auto;
  padding:0 0 0 20px;
  border-radius:10px;
  font:18px arial;
  color: #fff;
  position: relative;
  box-sizing:border-box;
  border:1px solid #06a3da;
  animation: move 3s ease-in-out infinite;
  position: relative;
}
.dropholder:hover, .dropholder:hover:after{
  animation-play-state:paused;
}
.dropholder:after{
  content:"";
  position: absolute;
  width: 250px;
  height: 5px;
  background:rgba(0,0,0, 0);
  display: block;
  top:100px;
  left:37px;
  margin: auto;
  border-radius:50%;
  box-shadow:0 15px 10px rgba(0,0,0, 0.4);
  animation: moveShadow 3s ease-in-out infinite;
}
p{
  float: left;
}
.dropdown > p{
  font-size:16px;
}
.dropdown, .dropholder{
  background:linear-gradient(#3796b8 ,#06a3da);
}
.dropdown{
  margin-left:20px;
  float: left;
  width: 208px;
  padding:0 0 0 20px;
  border-radius:0 10px 10px 0;
  cursor: pointer;
  border-left:1px solid #06a3da;
  position: relative;
}
.dropdown:hover{
  background:linear-gradient(#06a3da ,#06a3da);
}
.dropdown:after{
  content:"▾";
  font-size: 18px;
  position: absolute;
  right:20px;
  top:18px;
  display: block;
}

.menu{
  position: absolute;
  right:0;
  top:70px;
  width: 228px;
  cursor: pointer;
  opacity:0;
  transform-style: preserve-3d;
  transform:rotatey(180deg) rotateX(5deg) translatey(100px);
  backface-visibility: hidden;
  background:linear-gradient(#4dc2f8 ,#0d82b9);
  border:2px solid #0d82b9;
  border-radius:10px;
  transition:all 0.8s;
  z-index:5;
  overflow:hidden;
}
.menu li{
  padding: 10px 10px;
  border-bottom:1px dotted #fff;
  color:#e8f8ff; 
  transition:all 0.3s;
}
.menu li:hover{
  background:#61ccfd;
  padding-left:20px;
}
.menu li:last-child{
  border:none;
}

.showMenu{
   opacity:1;
  transform:rotateX(0deg) translatey(0px);
}
li > i{
  float: left;
  padding-top: 3px;
  padding-right: 8px;
}
p > i{
 position: relative;
 top:2px;
}
i{
  opacity: 0.7;
}
@keyframes move{
  0%, 100%{transform:translateY(-10px);}
  50%{transform:translateY(0);}
}

@keyframes moveShadow{
  0%,100%{transform:translateY(10px);opacity:0.4;}
  50%{transform:translateY(0);opacity:1;}
}
.menu {
  max-height: 200px; /* Adjust this value to your preference */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 200px; /* Adjust this value to your preference */
}
</style>
<div style="padding-bottom: 100px;"> 
    <form action="/predict" method="post">
      <div class="dropholder" style="display: flex; align-items: center; flex-direction: column;">
        <p>Select Condition</p>
        <select name="condition" >
          {% for option in options %}
            <option value="{{ option }}" class="text-capitalize">{{ option }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">
      </div>
    </form>
  </div>


{% endblock %}