{% extends 'auth/layout.html' %}

{% block body %}
{% include "includes/alert.html" %}
<div class="cont" style="height: 300px!important;" >
  <form action="{{ url_for('rst')}}" method="post">
    <div class="form sign-in">
      <h2 style="font-weight: bolder;color:#06a3da;"><a href="{{ url_for('home') }}"><img style="width: 60px;" src="{{ url_for('static', filename='img/add.png') }}" alt=""></a><br>Reset Account</h2>

      <input type="text" name="token" id="token" value="{{token}}" hidden   required autofocus>
      <label>
        
        <input type="password"  placeholder="Enter your password" name="password" required/>
      </label>
      <label>
        
        <input type="password"  placeholder="Confirm your password" name="confirm_password" required/>
      </label>
     
      
      <button type="submit" class="submit">Reset</button>
      
    </div>
  </form>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Verify Your Account</h2>
        <p>Fill up your OTP code that you received by email</p>
      </div>
      
     
    </div>
   
  </div>
</div>


{% endblock %}


